{% extends 'base.html.twig' %}

{% block title 'Edit Property' | trans %}

{% block body %}
  <div class="container mt-4">
    <h1>{{ 'Edit Property' | trans }}</h1>

    {{ include('property/Admin/_form.html.twig', {'button_label': 'Update' | trans }) }}

    <a href="{{ path('admin_property_index') }}" class="btn btn-secondary">{{ 'back to list' | trans }}</a>

    {{ include('property/Admin/_delete_form.html.twig') }}
  </div>
{% endblock %}