{% extends 'admin/baseAdmin.html.twig' %}

{% block title 'Property' | trans %}

{% block body %}
  <div class="container mt-4 mb-4">
    <h1>{{ 'Property' | trans }}</h1>

    <table class="table table-striped">
      <tbody>
      <tr>
        <th>Id</th>
        <td>{{ property.id }}</td>
      </tr>
      <tr>
        <th>{{ 'Title' | trans }}</th>
        <td>{{ property.title }}</td>
      </tr>
      <tr>
        <th>{{ 'Slug' | trans }}</th>
        <td>{{ property.slug }}</td>
      </tr>
      <tr>
        <th>{{ 'Description' | trans }}</th>
        <td>{{ property.description }}</td>
      </tr>
      <tr>
        <th>{{ 'Surface' | trans }}</th>
        <td>{{ property.surface }}</td>
      </tr>
      <tr>
        <th>{{ 'Rooms' | trans }}</th>
        <td>{{ property.rooms }}</td>
      </tr>
      <tr>
        <th>{{ 'Bedrooms' | trans }}</th>
        <td>{{ property.bedrooms }}</td>
      </tr>
      <tr>
        <th>{{ 'Floor' | trans }}</th>
        <td>{{ property.floor }}</td>
      </tr>
      <tr>
        <th>{{ 'Price' | trans }}</th>
        <td>{{ property.price }}</td>
      </tr>
      <tr>
        <th>{{ 'Heat' | trans }}</th>
        <td>{{ property.heat }}</td>
      </tr>
      <tr>
        <th>{{ 'City' | trans }}</th>
        <td>{{ property.city }}</td>
      </tr>
      <tr>
        <th>{{ 'Address' | trans }}</th>
        <td>{{ property.address }}</td>
      </tr>
      <tr>
        <th>{{ 'Postal_code' | trans }}</th>
        <td>{{ property.postalCode }}</td>
      </tr>
      <tr>
        <th>{{ 'Sold' | trans }}</th>
        <td>{{ property.sold ? 'Yes' | trans : 'No' | trans }}</td>
      </tr>
      <tr>
        <th>{{ 'Created_at' | trans }}</th>
        <td>{{ property.createdAt ? property.createdAt|date('Y-m-d H:i:s') : '' }}</td>
      </tr>
      </tbody>
    </table>

    <a href="{{ path('admin_property_index') }}" class="btn btn-secondary">{{ 'back to list' | trans }}</a>

    <a href="{{ path('admin_property_edit', {'id': property.id}) }}" class="btn btn-secondary">{{ 'edit' | trans }}</a>

    {{ include('admin/property/_delete_form.html.twig') }}
  </div>
{% endblock %}
