{% extends 'base.html.twig' %}

{% block title property.title %}

{% block body %}
  <div class="jumbotron">
    <div class="container">

      {% for message in app.flashes('success') %}
        <div class="alert alert-success">
          {{ message }}
        </div>
      {% endfor %}

      {% if not form.vars.valid %}
        <div class="alert alert-danger">
          Erreur dans le formulaire, veuillez verifier les informations
        </div>
      {% endif %}

      <div class="row">

        <div class="col-md-8">
          {% if property.pictures | length > 1 %}
            <div id="demo" class="carousel slide" data-ride="carousel">

              <!-- Indicators -->
              <ul class="carousel-indicators">
                {% for picture in property.pictures %}
                  <li data-target="#demo" data-slide-to="{{ loop.index0 }}"{% if loop.index0 == 0 %} class="active"{% endif %}></li>
                {% endfor %}
              </ul>

              <!-- The slideshow -->
              <div class="carousel-inner">
                {% for picture in property.pictures %}
                  <div class="carousel-item{% if loop.index0 == 0 %} active{% endif %}">
                    <img src="{{ vich_uploader_asset(picture, 'imageFile') | imagine_filter('medium') }}"
                         alt="{{ picture.filename }}" class="card-img-top" style="width: 100%; height: auto;">
                  </div>
                {% endfor %}
              </div>

              <!-- Left and right controls -->
              <a class="carousel-control-prev" href="#demo" data-slide="prev">
                <span class="carousel-control-prev-icon"></span>
              </a>
              <a class="carousel-control-next" href="#demo" data-slide="next">
                <span class="carousel-control-next-icon"></span>
              </a>

            </div>
          {% elseif property.picture %}
            <img src="{{ vich_uploader_asset(property.picture, 'imageFile') | imagine_filter('medium') }}"
                 alt="{{ property.picture.filename }}" class="card-img-top" style="width: 100%; height: auto;">
          {% else %}
            <img src="{{ '/images/properties/empty.jpeg' | imagine_filter('medium') }}" alt="empty"
                 class="card-img-top" style="width: 100%; height: auto;">
          {% endif %}
        </div>

        <div class="col-md-4">
          <h1>{{ property.title }}</h1>
          <h2>{{ property.rooms }} {{ 'rooms' | trans }} - {{ property.surface }} m²</h2>
          <div class="test-primary" style="font-size: 4rem;font-weight: bold;">{{ property.formattedPrice }} €</div>
          <a href="#" class="btn btn-primary" id="contactButton"
                  {% if form.vars.submitted %} style="display: none;"{% endif %}>
            {{ 'Contact the agency' | trans }}
          </a>
          <div id="contactForm" class="mt-4"{% if not form.vars.submitted %} style="display: none;"{% endif %}>
            {{ form_start(form) }}
            <div class="row">
              <div class="col">{{ form_row(form.firstname) }}</div>
              <div class="col">{{ form_row(form.lastname) }}</div>
            </div>
            <div class="row">
              <div class="col">{{ form_row(form.phone) }}</div>
              <div class="col">{{ form_row(form.email) }}</div>
            </div>
            {{ form_rest(form) }}
            {{ form_end(form) }}
          </div>
        </div>

      </div>
    </div>
  </div>

  <div class="container mt-4">

    <p>
      {{ property.description | nl2br }}
    </p>

    <div class="row">
      <div class="col-md-8">
        <h2>{{ 'Specifications' | trans }}</h2>
        <table class="table table-striped">
          <tr>
            <td>{{ 'Living space' | trans }}</td>
            <td>{{ property.surface }}</td>
          </tr>
          <tr>
            <td>{{ 'Rooms' | trans }}</td>
            <td>{{ property.rooms }}</td>
          </tr>
          <tr>
            <td>{{ 'Bedrooms' | trans }}</td>
            <td>{{ property.bedrooms }}</td>
          </tr>
          <tr>
            <td>{{ 'Floor' | trans }}</td>
            <td>{{ property.floor }}</td>
          </tr>
          <tr>
            <td>{{ 'Heat' | trans }}</td>
            <td>{{ property.heatType | trans }}</td>
          </tr>
        </table>
      </div>
      <div class="col-md-4">
        <h2>{{ 'Specificities' | trans }}</h2>
        <ul class="list-group">
          {% for option in property.options %}
            <li class="list-group-item">{{ option.name }}</li>
          {% endfor %}
        </ul>
      </div>
    </div>

    <div id="map" style="width: 100%; height: 400px"
         data-lat="{{ property.lat }}" data-lng="{{ property.lng }}">
    </div>

  </div>
{% endblock %}
